.header-widget {
  display: inline-block;
  width: 50%;
  padding: 15px 0px 6px 0px;
  border: 1px solid var(--border-color);
  vertical-align: top;
  text-align: left;
  text-transform: uppercase;
}

.header-widget:first-child {
  border-right-width: 0;
}

.header-widget__img {
  float: left;
  padding-right: 5px;
  padding-left: 10px;
}

.header-widget__heading {
  margin-top: 6px;
  margin-bottom: 0;
}

.header-widget__p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.3rem;
}
