.Cart-view-item {
  margin-bottom: 20px;
  color: #666767;
  font-size: 14px;
  text-align: left;
}

.Cart-view-item__image {
  height: auto;
  width: 72px;
  margin-right: 10px;
  border: 1px solid #e4e3e3;
}

.Cart-view-item__top {
  display: flex;
}

.Cart-view-item__name {
  display: block;
  color: var(--main-font-dark);
  text-transform: capitalize;
}

.Cart-view-item__name:hover {
  cursor: pointer;
  color: #995d08;
}

.Cart-view-item__remove {
  background-color: #fff;
  border: 0;
  color: var(--main-font-dark);
  font-family: oswald, sans-serif;
}

.Cart-view-item__remove:hover {
  cursor: pointer;
  color: #995d08;
}

.Cart-view-item__price {
  color: #8b8b84;
  font-size: 18px;
  text-align: right;
}
