.post {
  text-align: left;
}

.post__content {
  font-family: play, sans-serif;
}

.post br {
  margin-bottom: 11px;
}

.post__image {
  width: 100%;
  padding: 5px;
  border: 1px solid var(--border-color);
}
