.button {
  display: inline-block;
  padding: 3px 16px;
  background-color: #333333;
  border: 0;
  color: var(--main-font-white);
  font-family: oswald, sans-serif;
  font-size: 1.2rem;
  line-height: 24px;
  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
  background-color: #868686;
}

.button--orange {
  background-color: #c27d05;
}

.button--orange:hover {
  background-color: #e79c0c;
}
