.home-sidebar {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(4, minmax(166px, 270px));
    grid-template-rows: auto;
    column-gap: 20px;
    justify-content: space-between;
  }
}

.home-sidebar__blog {
  grid-column-start: 1;
  grid-column-end: 3;
}
